# 1. Memasukkan Library
Langkah pertama untuk melakukan preprocessing adalah mengimport beberapa library python, yaitu :
1. Numpy, berfungsi untuk melakukan operasi matematika, manipulasi array, dan analisis data pada Python. 
2. Matplotlib, berfungsi untuk membuat visualisasi data secara grafis.
3. Pandas, berfungsi untuk memanipulasi dan menganalisis data dalam format tabel atau dataframe

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 2. Memasukkan File Data
Setelah memasukkan library, langkah selanjutnya adalah memasukkan file dataset yang ingin digunakan dengan menggunakan fungsi pd.read yang dimiliki oleh library Pandas

In [2]:
dataFrame = pd.read_csv('latihan_interval_lari.csv')

## 2.1 Tampilkan File Data yang Telah di masukkan

In [3]:
dataFrame

            Nama  Umur  Waktu(s) Target
0            Adi  19.0    2322.0    Yes
1          Ditya   NaN    2622.0    Yes
2          Adith  18.0    2321.0     No
3          Agung  18.0    2312.0    Yes
4         Akhmad   NaN    2452.0     No
5         Ardian  19.0       NaN     No
6      Arifianto  19.0    2152.0    Yes
7         Atinna   NaN    2362.0     No
8   Bektiningsih  18.0    2531.0    Yes
9         Bondan  18.0    2351.0    Yes
10           Edi  19.0       NaN     No

## 2.2 Bagi Data dengan Dua Variable

In [4]:
x = dataFrame.iloc[:, :-1].values
y = dataFrame.iloc[:, -1].values

## 2.3 Tampilkan Data yang Telah dibagi dengan Dua Variable

In [5]:
print(x)

[['Adi' 19.0 2322.0]
 ['Ditya' nan 2622.0]
 ['Adith' 18.0 2321.0]
 ['Agung' 18.0 2312.0]
 ['Akhmad' nan 2452.0]
 ['Ardian' 19.0 nan]
 ['Arifianto' 19.0 2152.0]
 ['Atinna' nan 2362.0]
 ['Bektiningsih' 18.0 2531.0]
 ['Bondan' 18.0 2351.0]
 ['Edi' 19.0 nan]]

In [6]:
print(y)

['Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes' 'No' 'Yes' 'Yes' 'No']

# 3. Memeriksa Missing Value pada Data

In [7]:
dataFrame.isnull().sum()

Nama        0
Umur        3
Waktu(s)    2
Target      0
dtype: int64

In [8]:
dataFrame.describe()

            Umur     Waktu(s)
count   8.000000     9.000000
mean   18.500000  2380.555556
std     0.534522   137.461005
min    18.000000  2152.000000
25%    18.000000  2321.000000
50%    18.500000  2351.000000
75%    19.000000  2452.000000
max    19.000000  2622.000000

# 4. Melakukan Data Cleaning

In [9]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 1:3])
x[:, 1:3]= imputer.transform(x[:, 1:3])

In [10]:
print(x)

[['Adi' 19.0 2322.0]
 ['Ditya' 18.5 2622.0]
 ['Adith' 18.0 2321.0]
 ['Agung' 18.0 2312.0]
 ['Akhmad' 18.5 2452.0]
 ['Ardian' 19.0 2380.5555555555557]
 ['Arifianto' 19.0 2152.0]
 ['Atinna' 18.5 2362.0]
 ['Bektiningsih' 18.0 2531.0]
 ['Bondan' 18.0 2351.0]
 ['Edi' 19.0 2380.5555555555557]]

# 5. Melakukan Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [14]:
print(y)

[1 1 0 1 0 0 1 0 1 1 0]